# Søknad om ekspertbistand


## Virksomhet

<table>
    <tr>
        <td class="td02">Navn:</td>
        <td>{{virksomhet.virksomhetsnavn}}</td>
    </tr>
    <tr>
        <td class="td02">Virksomhetsnummer:</td>
        <td>{{virksomhet.virksomhetsnummer}}</td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td class="td02">Kontaktperson:</td>
        <td>{{virksomhet.kontaktperson.navn}}</td>
    </tr>
    <tr>
        <td class="td02">E-post:</td>
        <td>{{virksomhet.kontaktperson.epost}}</td>
    </tr>
    <tr>
        <td class="td02">Telefon:</td>
        <td>{{virksomhet.kontaktperson.telefonnummer}}</td>
    </tr>
</table>


## Ansatt som saken gjelder

<table>
    <tr>
        <td class="td03">Navn:</td>
        <td>{{ansatt.navn}}</td>
    </tr>
    <tr>
        <td class="td03">Fødselsnummer:</td>
        <td>{{ansatt.fnr}}</td>
    </tr>
</table>


## Ekspert

<table>
    <tr>
        <td class="td03">Navn:</td>
        <td>{{ekspert.navn}}</td>
    </tr>
    <tr>
        <td class="td03">Virksomhet:</td>
        <td>{{ekspert.virksomhet}}</td>
    </tr>
    <tr>
        <td class="td03">Kompetanse:</td>
        <td>{{ekspert.kompetanse}}</td>
    </tr>
</table>


## Behov for bistand

<table>
    <tr>
        <td class="td03">Begrunnelse:</td>
        <td>{{behovForBistand.begrunnelse}}</td>
    </tr>
    <tr>
        <td class="td03">Behov:</td>
        <td>{{behovForBistand.behov}}</td>
    </tr>
    <tr>
        <td class="td03">Tilrettelegging:</td>
        <td>{{behovForBistand.tilrettelegging}}</td>
    </tr>
    <tr>
        <td class="td03">Antall timer:</td>
        <td>{{behovForBistand.timer}}</td>
    </tr>
    <tr>
        <td class="td03">Estimert kostnad:</td>
        <td>{{behovForBistand.estimertKostnad}}</td>
    </tr>
    <tr>
        <td class="td03">Planlagt startdato:</td>
        <td>{{behovForBistand.startdato}}</td>
    </tr>
</table>


## Nav

<table>
    <tr>
        <td class="td02">Kontaktperson:</td>
        <td>{{nav.kontaktperson}}</td>
    </tr>
</table>

<table>
    <tr>
        <td class="td02">Send inn til Nav:</td>
        <td>{{opprettetDato}}</td>
    </tr>
</table>
