<h1>Søknad om ekspertbistand</h1>

<h3>Virksomhet</h3>

<table>
    <tr>
        <td class="td02">Navn:</td>
        <td>{{virksomhet.virksomhetsnavn}}</td>
    </tr>
    <tr>
        <td class="td02">Virksomhetsnummer:</td>
        <td>{{virksomhet.virksomhetsnummer}}</td>
    </tr>
    <tr>
        <td class="td02">Beliggenhetsadresse:</td>
        <td>{{virksomhet.beliggenhetsadresse}}</td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td class="td02">Kontaktperson:</td>
        <td>{{virksomhet.kontaktperson.navn}}</td>
    </tr>
    <tr>
        <td class="td02">E-post:</td>
        <td>{{virksomhet.kontaktperson.epost}}</td>
    </tr>
    <tr>
        <td class="td02">Telefon:</td>
        <td>{{virksomhet.kontaktperson.telefonnummer}}</td>
    </tr>
</table>


<h3>Ansatt som saken gjelder</h3>

<table>
    <tr>
        <td class="td03">Navn:</td>
        <td>{{ansatt.navn}}</td>
    </tr>
    <tr>
        <td class="td03">Fødselsnummer:</td>
        <td>{{ansatt.fnr}}</td>
    </tr>
</table>


<h3>Ekspert</h3>

<table>
    <tr>
        <td class="td03">Navn:</td>
        <td>{{ekspert.navn}}</td>
    </tr>
    <tr>
        <td class="td03">Virksomhet:</td>
        <td>{{ekspert.virksomhet}}</td>
    </tr>
    <tr>
        <td class="td03">Kompetanse:</td>
        <td>{{ekspert.kompetanse}}</td>
    </tr>
</table>


<h3>Behov for bistand</h3>

<h4>Hvem i Nav har du drøftet behovet om eskpertbistand i denne saken med?</h4>
<p>{{nav.kontaktperson}}</p>

<h4>Beskriv den ansattes arbeidssituasjon</h4>
<p>{{behovForBistand.begrunnelse}}</p>

<h4>Hva vil dere ha hjelp til fra eksperten?</h4>
<p>{{behovForBistand.behov}}</p>

<h4>Hvilke tiltak for tilrettelegging har dere vurdert eller forsøkt?</h4>
<p>{{behovForBistand.tilrettelegging}}</p>

<h4>Hvor mange timer skal eksperten hjelpe dere?</h4>
<p>{{behovForBistand.timer}}</p>

<h4>Estimert kostnad for ekspertbistand</h4>
<p>{{behovForBistand.estimertKostnad}}</p>

<h4>Planlagt startdato</h4>
<p>{{behovForBistand.startdato}}</p>


<p style="margin-top: 32px;">Sendt inn til Nav {{opprettetDato}}</p>